{% extends "base.html" %}

{% load tailwind_filters %}

{% block content %}
<div style="padding-bottom:10px; background-color:#aaa8ce;color:#fff; text-align: center; text-transform: uppercase">
    <h1>Send Email</h1>
</div>
<div style="background-color:#aaa8ce; width:100%; height:100%; display: flex; justify-content: center; text-transform: uppercase;">
    <form id="form" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button  class="flex mt-3 text-white bg-pink-500 border-0 py-2 px-6 focus:out:bg-piline-none hovernk-600 rounded mb-5 w-full " type="submit">Submit</button>
    </form> 
</div>
{% endblock content %}